@using EntityLayer.Concrete

@model List<Category>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*Sebebini anlamadığım şekilde kategori hariç 
diğer sayfalarda çoklu yenilemelerde sidebar küçülüyor.*@

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Kategori Başlıklar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
        </tr>
    }

</table>
<br />