@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model IPagedList<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string status = "";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı adı</th>
        <th>Mail adresi</th>
        <th>Diğer</th>
        <th>Durum</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.UserUsername</td>
            <td>@item.UserEmail</td>
            <td>
                <a href="/AdminAuthorization/GiveAuthorization?userId=@item.UserId" class="btn btn-warning">Kullanıcı İşlemleri</a>
            </td>
            <td>
                @if (item.UserStatus)
                {
                    status = "Normal";
                }
                else
                {
                    status = "Banlı";
                }
                @status
            </td>
        </tr>


    }

</table>

@Html.PagedListPager((IPagedList)Model,
    p => Url.Action("Index",
        new { p })
    ,
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {
            {"page-link"}
        },
        UlElementClasses = new List<string>
        {
            {"pagination justify-content-center"}
        }
    }
    )



