
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>MVC Proje Kampı</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css" />
    <!-- IonIcons -->
    @*<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />*@
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css" />
    <!-- Theme style -->
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE-3.0.4/dist/css/adminlte.min.css" />

    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/Content/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">




    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/AdminCategory" class="brand-link">
            <img src="~/Content/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">MVC Proje Kampı</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@Session["UserImage"]" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="/AdminHomepage" class="d-block">@Session["Fullname"] <br/> @Session["Username"]</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="/AdminCategories/Index" class="nav-link ">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                Kategoriler
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminHeadings/Index" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Başlıklar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminWriters/Index" class="nav-link">
                            <i class="nav-icon fas fa-user-edit"></i>
                            <p>
                                Yazarlar

                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                İstatistikler
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/AdminStatistics/CategoryDonutGraph" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Turta Grafik</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="pages/charts/flot.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Çizgi Grafik</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/AdminStatistics" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Bazı İstatistik Veriler</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/AdminHeadings/HeadingReport" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Başlık Raporlama</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminAbouts/Index" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>
                                Hakkımızda
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminContacts/Index" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                İletişim & Mesajlar
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/calendar.html" class="nav-link">
                            <i class="nav-icon fas fa-calendar-alt"></i>
                            <p>
                                Yetkilendirme
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AdminGalleries/Index" class="nav-link">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                                Galeri
                            </p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon fas fa-window-restore"></i>
                            <p>
                                Siteye Git
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Logins/Logout" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Çıkış Yap
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            @RenderBody()
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

<!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

    <!-- Bootstrap -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/Content/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!--icheck-mailbox-->
    <script src="~/Content/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-mailbox.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/Content/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
    <!-- Summernote -->
    <script src="~/Content/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
        })
    </script>
@*<script src="~/Content/skillcard/js/jquery-1.11.1.min.js">$.noConflict</script>*@

</body>
</html>
