
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Proje Kamp Örneği - Kategori</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><btn class="btn btn-success">Güncelle</btn></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><btn class="btn btn-success">Güncelle</btn></td>
    </tr>
</table>

<button class="btn btn-info">Yeni Kategori</button> &nbsp; &nbsp;
<button class="btn btn-warning">Yeni Kategori</button> &nbsp; &nbsp;
<button class="btn btn-danger">Yeni Kategori</button>