@using MVCProjeKampi.Models.ViewModels
@using EntityLayer.Concrete

@model HomepageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@{
    foreach (var item in Model.Headings)
    {

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/">@item.HeadingName</a>
                </h5>
                <br/>
                <p class="card-text">
                    @{
                        foreach (var content in Model.Contents)
                        {
                            if (item.HeadingId == content.HeadingId)
                            {
                                @content.ContentText
                                break;
                            }
                        }
                    }
                    
                    
                </p>
            </div>
        </div>
    }

}


