

        <div style="margin-left: 1em; margin-top: 2em;">
            <a href="/Logins/Login" class="btn btn-success text-white">Giriş yap</a> &nbsp; &nbsp;
            <a href="\" class="btn btn-primary text-white">Kayıt ol</a>
        </div>


