@using EntityLayer.Concrete
@model List<Heading>

@{
    int counter = 0;
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="margin-top: 2em">
        <li class="nav-item" style="padding-left: 1em">
            <a>
                <p>
                    <i>Gündem</i>
                </p>
            </a>
        </li>
        @{
            foreach (var item in Model)
            {
                if (counter==10)
                {
                    break;
                }
                <li class="nav-item">
                    <a href="/Headings/HeadingByHeadingId?id=@item.HeadingId&&p=1" class="nav-link">
                        <p>
                            @item.HeadingName
                        </p>
                    </a>

                    @*İleride başlıktaki yorum sayısı yazılabilir
                        <a class="nav-link" style="width: 3em; margin-top: -2.7em; margin-left: 11em; padding-right: 1em;">
                        <p>
                           12345
                        </p>
                    </a>*@

                </li>

                counter++;
            }
        }
        
    </ul>
</nav>

