@using EntityLayer.Concrete
@model List<Heading>

@{
    int counter = 0;

}


<div style="padding-left: 1em; padding-top:1.5em">
    <a>
        <p>
            <i>Gündem</i>
        </p>
    </a>
</div>
@{
    foreach (var item in Model)
    {
        if (counter == 8)
        {
            break;
        }

        <a href="/baslik/@item.HeadingNameForFriendlyUrl/1" class="nav-link" style="background-color: #343a40" onmouseover="this.style.background='#444747'" onmouseout="this.style.background='#343a40'" class="list-group-item list-group-item-action">


            @*Başlığın ismi büyük olursa listeye sığmıyor*@
            
            @item.HeadingName

        </a>


        @*İleride başlıktaki yorum sayısı yazılabilir
                <a class="nav-link" style="width: 3em; margin-top: -2.7em; margin-left: 11em; padding-right: 1em;">
                <p>
                   12345
                </p>
            </a>*@



        counter++;
    }
}




