
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>MVC Proje Kampı Kullanıcı Girişi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/login-form-19/css/style.css">

</head>
<body>


<section class="ftco-section" style="background-image: url('/wwwroot/site/blurHomepage.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">MVC Proje Kampı Kullanıcı Girişi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4" >
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/Content/login-form-19/images/bg.jpg);"></div>
                        <h3 class="text-center mb-0">Hoş Geldiniz</h3>
                        <p class="text-center">Aşağıdaki kutucukları doldurarak giriş yapabilirsiniz</p>
                        <p class="text-center" style="color: darkred">@ViewBag.Message</p>

                        @using (Html.BeginForm("Login", "Logins", FormMethod.Post))
                        {
                            <div id="form">
                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                    <input type="text" name="Username" class="form-control" placeholder="Kullanıcı Adı" required>
                                </div>
                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                    <input type="password" name="Password" class="form-control" placeholder="Şifre" required>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-100 text-md-right">
                                        <a href="#" style="color:black">Şifremi unuttum</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş Yap</button>

                                    <br /><br />
                                    <a href="/" class="btn btn-primary form-control rounded px-3" style="margin-bottom: -2em; padding-top: 0.8em">Siteye Dön</a>
                                </div>
                                @*<div class="w-100 text-center mt-4 text">
                                        <p class="mb-0">Hesabın mı yok?</p>
                                        <a href="#">Sign Up</a>
                                    </div>*@
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/login-form-19/js/jquery.min.js"></script>
    <script src="~/Content/login-form-19/js/popper.js"></script>
    <script src="~/Content/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/Content/login-form-19/js/main.js"></script>

</body>
</html>

