@using MVCProjeKampi.Models.ViewModels
@model AboutHomepageViewModel
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    bool status = Model.AboutAlertStatus;
}



<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Hakkımızda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model.Abouts)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Başlık</td>
            @if (item.AboutStatus)
            {
                @*<div class="alert alert-danger" role="alert">
                    Sadece <b>bir tane</b> hakkımızda yer alabilir
                    </div>*@

                <td><a href="/Abouts/EnableAbout/@item.AboutId" class="btn btn-success disabled">Aktif Yap</a></td>
                <td><a href="/Abouts/DisableAbout/@item.AboutId" class="btn btn-danger">Pasif Yap</a></td>

            }
            @if (!item.AboutStatus)
            {
                <td><a href="/Abouts/EnableAbout/@item.AboutId" class="btn btn-success" id="enableAboutButton">Aktif Yap</a></td>
                <td><a href="/Abouts/DisableAbout/@item.AboutId" class="btn btn-danger disabled">Pasif Yap</a></td>
            }


        </tr>
    }
</table>



@*<script>
        $('#enableAboutButton').click(function () {

            swal("Sadece bir kategori aktif olur");

        });
</script>*@


    @Html.Action("AboutPartial", "Abouts")

