@using EntityLayer.Concrete
@model About

@{
    ViewBag.Title = "Site Hakkında";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<link rel="stylesheet" href="/Content/aboutPage/nicepage.css" media="screen">
<link rel="stylesheet" href="/Content/aboutPage/Home.css" media="screen">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <section class="u-clearfix u-section-1" id="carousel_bf22" style="margin-top: -10em; margin-left: -8em">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-32">
                            <div class="u-layout-row">
                                <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-top u-container-layout-1">
                                        <h5 class="u-align-left u-text u-text-1">Site Hakkında</h5>
                                        <h5 class="u-align-justify u-custom-font u-text-1 u-text-2" style="font-size: 25px">@Html.Raw(Model.AboutText)</h5>
                                        <h6 class="u-align-justify" style="font-size: 25px;"><b>Şu anda okuduğum üniversite</b></h6>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12053.219600317858!2d29.1196104!3d40.952899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x419102a05b857d03!2zxLBzdGFuYnVsIFRpY2FyZXQgw5xuaXZlcnNpdGVzaSBLw7zDp8O8a3lhbMSxIEthbXDDvHPDvA!5e0!3m2!1str!2str!4v1626344871220!5m2!1str!2str" 
                                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>





