@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Başlıklar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık İsmi</th>
        <th>Kategori İsmi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HeadingId</td>
            <td>@item.HeadingName</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }
</table>
<br/>
<a href="/Headings/AddHeading" class="btn btn-info">Yeni Başlık Girişi</a>
